img#avatar {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  margin-top: 150px;
  margin-bottom: 30px;

  position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.avatar {
  background-color: #1abc9c;
height: auto;
 
}  

#heading {
  font-size: 60px;   
  text-align: center;
  color: aliceblue;
 
}

#h3{
  text-align: center;
  color: aliceblue;
}


#text {
  margin-bottom: 40px;  
   
   color: #2c3e50;
   
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;


}

/* .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
} */

 .container:hover .image {
  opacity: 0.3;
  cursor: pointer;
}
/*
.container:hover .middle {
  opacity: 1;
} */

/* 
.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
} */

#contactForm {
    display: block;
    margin-top: 0em;
  }

#name{
    border-right: none;
    border-left: none;
    border-top: none;
   
}


#email{
  border-right: none;
  border-left: none;
  border-top: none;
}

#phone{
  border-right: none;
  border-left: none;
  border-top: none;
}
#message{
  border-right: none;
    border-left: none;
    border-top: none;
}