img#avatar {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  margin-top: 150px;
  margin-bottom: 30px;

  position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.avatar {
  background-color: #1abc9c;
  max-width: 110%;
  min-width: 111vh;
 min-height: auto;
 max-height: 500vh;
}  

#heading {
  font-size: 60px;   
  text-align: center;
  color: aliceblue;
 
}

#h3{
  text-align: center;
  color: aliceblue;
}

.portfolio{
max-width: 110%;
min-width: 107vh;

 
}
#text {
  margin-bottom: 40px;  
   text-align: center;
   color: #2c3e50;
   
}

